.home{
    position: absolute;
    top: 0;
    right: 0;
    left: 320px;
    height: 100vh;
    width: calc(100% - 320px);
    transition: var(--tran-05);

}

.sidebar.close ~ .home{
    left: 150px;
    height: 100vh;
    width: calc(100% - 150px);
}

.home .header-text{
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    color: var(--body-text);
    margin-top: 20px;
}

.wrapper{
    background: var(--card-color);
    box-shadow: 0px 7px 25px rgba(0,0,0,.08);
    padding-left: 15px;
    margin-right: 60px;
}

table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 90%;
    background: var(--card-color);
    box-shadow: 0px 7px 25px rgba(0,0,0,.08);
}

table th{
    background: var(--card-color);
    color: var(--table-text);
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

table td{
    color: var(--table-text);
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}