.home{
    position: absolute;
    top: 0;
    right: 0;
    left: 320px;
    height: 100vh;
    width: calc(100% - 320px);
    transition: var(--tran-05);

}

.sidebar.close ~ .home{
    left: 150px;
    height: 100vh;
    width: calc(100% - 150px);
}

.home h4{
    margin-top: 10px;
    font-size: 36px;
    color: var(--body-text);
}

.home h6{
    color: var(--body-text);
    font-size: 20px;
}

.home .header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-right: 60px;
}

.header li a{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.home .header .image-text{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: var(--card-color);
    box-shadow: 0px 7px 25px rgba(0,0,0,.08);
}

.home .header .image-text:hover{
    background: var(--sidebar-color);
}

.home .header .image-text:hover .img{
    color: var(--text-color);
}

.home .img{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 82px;
    color: var(--body-text);
}

.header .image-text .keterangan{
    display: flex;
    flex-direction: column;
}

.header .keterangan .jumlah h5{
    font-size: 50px;
    color: var(--body-text);
    height: 50px;
}

.header .keterangan .judul{
    font-size: 18px;
    font-weight: 400;
    color: #adb5bd;
    padding: 5px;
}

.image-text:hover .keterangan .jumlah h5{
    font-size: 50px;
    color: var(--text-color);
    height: 50px;
}

.image-text:hover .keterangan .judul{
    color: var(--text-color);
}

.katalog{
    background : var(--card-color);
    margin-right: 90px;
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 7px 25px rgba(0,0,0,.08);
}

.data-buku h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
    color: var(--body-text);
    font-size: 25px;
}

.grid{
    display: grid;
    margin-right: 60px;
    margin-left: 60px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

img{
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.grid article{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--card-color);
    width: 200px;
    height: 300px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: transform;
}

.detail{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 15px;
    color: var(--text-color);
}

.detail h1{
    font-size: 25px;
    visibility: hidden;
    opacity: 0;
}

.detail p{
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
}

article:hover{
    cursor: pointer;
}

article:hover .detail{
    padding: 10px;
    width: 200px;
    height: 300px;
    bottom: 0px;
    background: rgb(27,27,27,.5);
}
article:hover h1, article:hover p{
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 576px) {
    .sidebar.close ~ .home{
        left: 120px;
        height: 100vh;
        width: calc(100% - 120px);
    }

    .home h4{
        font-size: 20px;
    }
    
    .home h6{
        font-size: 14px;
    }
    
    .home .header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }

    .home .header .image-text{
        width: 120px;
        height: 70px;
    }

    .home .img{
        font-size: 44px;
    }

    .header .image-text .keterangan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
    }

    .header .keterangan .jumlah h5{
        font-size: 25px;
        height: 25px;
    }
    
    .header .keterangan .judul{
        font-size: 10px;
        padding: 0;
    }

    .katalog{
        margin-right: 90px;
        width: 260px;
    }
    
    .data-buku h3{
        color: var(--text-color);
        font-size: 18px;

    }
    
    .grid{
        margin-left: 10px;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .grid article{
        width: 110px;
        height: 210px;
    }

    article img{
        width: 100px;
        height: 200px;
    }
    
}