body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    position: absolute;
    top: 0;
    right: 60px;
    left: 320px;
    height: 100vh;
    width: calc(100% - 380px);
    transition: var(--tran-05);
}

.sidebar.close ~ .home{
    right: 60px;
    left: 150px;
    height: 100vh;
    width: calc(100% - 210px);
}

.home h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 36px;
    color: var(--body-text);
}

.formulir{
    display: flex;
    flex-direction: column;
}

.formulir{
    padding: 0 40px;
    box-sizing: border-box;
}

.formulir .txt_field{
    width: 100%;
    margin-top: 20px;
}

.txt_field label{
    color: #2A3452;
    font-weight: 500;
}

.formulir .txt_field input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.formulir .submit{
    height: 50px;
    width: 100%;
    color: white;
    background: #8854EF;
    font-size: 14px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    padding: 10px;
}