*,
html,
body{
    margin: 0;
    padding: 0;
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: white;
}

.layanan{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    color: white;
    background: linear-gradient(234deg, #8854EF 50%, #a663cc, #b298dc);
}

.kotak{
    width: 75%;
}

.isi{
    padding: 30px;
}

.isi h2{
    font-size: 48px;
}

.isi p{
    font-size: 20px;
}

.card{
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px #535353;
    cursor: pointer;
    transition: transform 0.5s;
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}

.card1 {
    margin-bottom: 25px;
    background-image: url(gambar/peminjaman.png);
}
.card2 {
    margin-bottom: 25px;
    background-image: url(gambar/pengembalian.png);
}
.card3 {
    background-image: url(gambar/buku\ tamu.png);
}
.card4 {
    background-image: url(gambar/koleksi\ bacaan.png);
}

.card:hover{
    transform: translateY(-10px);
}

.login{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.judul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h2{
    color: #2A3452;
    margin-top: 20px;
}

.alert{
    width: 100%;
    margin-top: 20px;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 3px;
    background-color: #F7D6DB;
    border: 1px solid #d4a0a8;
    color: #875B60;
    display: none;
}

#alert:target{
    display: block;
}

form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    width: 100%;
    margin-top: 20px;
}

.txt_field label{
    color: #2A3452;
    font-weight: 500;
}

form .txt_field input,
form .txt_field select{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

form .column{
    display: flex;
    column-gap: 50px;
}

form .txt_field1{
    width: 100%;
    margin-top: 20px;
}

.txt_field1 label{
    color: #2A3452;
    font-weight: 500;
}

form .txt_field1 input{
    position: relative;
    height: 50px;
    width: 90%;
    outline: none;
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.eye{
    position: absolute;
    margin-top: 25px;
    margin-left: 5px;
}

.eye i {
    color: #2A3452;
}

#hide1{
    display: none;
}

form .submit{
    height: 55px;
    width: 100%;
    color: white;
    background: #8854EF;
    font-size: 14px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
}

@media screen and (max-width:576px) {
    .layanan{
        display: none;
    }

    .login{
        width: 100%;
        background: linear-gradient(234deg, #8854EF 50%, #a663cc, #b298dc);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap{
        background: white;
        height: 97%;
        width: 93%;
    }

    .login h2{
        color: #2A3452;
        padding: 5px;
        border-bottom: 1px solid #2A3452;
    }

    input[type="submit"]{
        margin-top: 10px;
        margin-bottom: 40px;
    }
}